{# 继承baes.html模板 #}
{% extends 'baes.html' %}

{# 加载自己定义的标签或者过滤器 #}
{% load extend_fun %}

{# 重写父模板里left块 #}
{% block left %}

{# 判断后台传过来的参数是否存在 #}
{% if page %}
    {# 循环后台传过来的分页器所分的个数 #}
    {% for arcticle in page.object_list %}

    <article class="post post-{{ arcticle.id }}">
        <header class="entry-header">
            <h1 class="entry-title">
                <a href="{% url 'blog:single' arcticle.id %}">{{ arcticle.title }}</a>
            </h1>
            <div class="entry-meta">
                <span class="post-category"><a href="#">{{ arcticle.category.title }}</a></span>
                <span class="post-date"><a href="#"><time class="entry-date"
                                                          datetime="2012-11-09T23:15:57+00:00">{{ arcticle.create_time }}</time></a></span>
                <span class="post-author"><a href="#">{{ arcticle.author.title }}</a></span>
                <span class="comments-link"><a href="#">{{ arcticle.comment_set.count }} 评论</a></span>
                <span class="views-count"><a href="#">{{ arcticle.views }} 阅读</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            <p>
                    {# 打印内容 利用通道 截取前十个  利用我们自己定义的过滤器  要想使用自己定义的 需要在上面加载 #}
                {{ arcticle.body|myslice:10 }}



            </p>
            <div class="read-more cl-effect-14">
                <a href="{% url 'blog:single' arcticle.id %}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
            </div>
        </div>
    </article>





    {% empty %}
        <li>没有文章对象</li>
    {% endfor %}

{% else %}
没有文章信息
{% endif %}






<!-- 简单分页效果
<div class="pagination-simple">
    <a href="#">上一页</a>
    <span class="current">第 6 页 / 共 11 页</span>
    <a href="#">下一页</a>
</div>
-->
<div class="pagination">
    <ul>
        {% if page.has_previous %}
            <li><a href="/blog/index/?page={{ page.previous_page_number }}">上一页</a></li>

        {% endif %}



        {% for i in page.paginator.page_range %}
         <li><a href="/blog/index/?page={{ i }}">{{ i }}</a></li>
     
        {% endfor %}
        
        
         {% if page.has_next %}
            <li><a href="/blog/index/?page={{ page.next_page_number }}">下一页</a></li>

        {% endif %}

    </ul>
</div>




{% endblock %}



